.footer{
	
	display: flex;
	justify-content:space-around;
	align-items:center;
	border:1px red;
	
}
.footer__container{
	position: absolute;
	bottom: 0;
}

.footer__left{
	display:flex;
	gap:0.4rem;
	align-items:center;
	color:rgb(219, 189, 189);
	z-index: 1;
}
.footer__right{
	display:flex;
	gap:0.4rem;
}
.footer__center{
	display:flex;
	flex-direction:column;
	align-items:center;
	z-index: 1;
}

.box{
	width:0.4rem;
	height:0.4rem;
	background-color: rgb(187, 172, 172);
	z-index: 1;

}

.footer__left__above{
	display:flex;
	align-items:flex-end;
	gap:0.6rem;
	
}

.active{
	background-color: rgb(207, 231, 235);
	height: 0.9rem;
	
}
.active__page{
	color:rgb(238, 231, 231);
}
.pages{
	z-index: 1;
}

.circle{
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:rgb(243, 235, 235);
	border-radius:100%;
	width: 2.1rem;
	height: 2.1rem;
	z-index: 1;
}